ul :nth-child(6) .line {
    height: 2px;
    width: 50%;
    background-color: #1d685f;
}

@media (max-width: 991px){
    ul :nth-child(6) .line {
        height: 2px;
        width: 6%;
        background-color: #1d685f;
    }
}

.main-left{
    border: 1px solid red;
}

.main-right{
    border: 1px solid purple;
}

.bg{
    width: 50px;
    height: 50px;
    background-color: #d1fffa;
    border-radius: 50%;
}

.short-card{
    border: 1px solid black;
    display: flex;
    gap: 15px;
}