body {
    background-image: url(../assets/hero-bg.jpg);
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center center;
    height: 110vh;
    margin: 0;
    padding: 0;
}


ul :first-child .line {
    height: 2px;
    width: 50%;
    background-color: #1d685f;
}

section {
    height: 100vh;
    width: 100vw;
}

.py-5 {
    padding-top: 10rem !important;
    padding-bottom: 3rem !important;
}

section button a{
    text-decoration: none;
    color: white;
}


section button{
    background-color: rgb(52, 183, 167)!important;
    border: none!important;
    font-size: 18px !important;
}

@media (max-width: 991px){
    ul :first-child .line {
        height: 2px;
        width: 6%;
        background-color: #1d685f;
    }
}